*{
    outline: 2px solid darkred;
}

/*Default Fonts and Sizes*/
body {
    font-family: Roboto, serif;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

h2 {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;
}

/* Specific Boxes */

/*Header*/
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
}

.header p {
    align-items: center;
    flex: 1;
    text-align: center;
    font-size: 24px;
    color: #F9FAF8;
    justify-content: center;
}

.header .header-links {
    display: flex;
    flex: 2;
    justify-content: space-around;
    align-items: center;
    color: #E5E7EB;
}


/* IntroBox */
.introduction {
    display: flex;
    background-color: #1F2937;
}

.intro-left, .intro-right {
    flex: 1;
}

.intro-right {
    display: flex;
    align-content: center;
    justify-content: center;
}

.introduction .intro-right img {
    display: flex;
    flex: 1;
    width: 10%;
    height: auto;
    padding: 50px;
}

.intro-left {
    display: flex;
    flex-direction: column;
}

.introduction .intro-left .wording {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introduction .intro-left button {
    background-color: #3882F6;
    color: #F9FAF8;
    flex: 1;
}

/*Random Facts*/
.random-facts .facts{
    display: flex;
    justify-content: space-evenly;
}

.random-facts .facts p {
    font-size: 18px;
    color: dimgray;
}

.random-facts p {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
